* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav--link {
    position: relative;
}

.nav--link-number {
    position: absolute;
    top: 2px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.main--options-container {
    margin-top: 150px;
    margin-bottom: 30px;

}

.main--form-select {
    width: 170px;
}

.main--items-container > div.row {
    row-gap: 25px;
}

.card--container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: box-shadow 0.2s;
}

.card--container:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.card--favourite-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.card--favourite-icon:hover {
    opacity: 0.85;
}

.card--image {
    padding: 15px 15px 10px 15px;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

.card--body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card--title {
    font-weight: bold;
}

.card--rating {
    display: flex;
    align-items: end;
}

.card--rating-count {
    font-size: 13px;
    display: flex;
    align-items: end;
    margin-left: 3px;
}

.card--price {
    font-size: 22px;
}