* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav--link {
    position: relative;
}

.nav--link-number {
    position: absolute;
    top: 2px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.loading--spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.items--container {
    margin-top: 150px;
}

.items--container > div.row {
    row-gap: 25px;
}

.card--container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.card--favourite-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.card--favourite-icon:hover {
    opacity: 0.9;
}

.card--image {
    padding: 15px 15px 10px 15px;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

.card--body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card--title {
    font-weight: bold;
}

.card--price {
    font-size: 20px;
}